.topnav {
  background-color: lightblue;
  overflow: hidden;
}

.topnav ul li {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav li:hover {
  background-color: #ddd;
  color: black;
}

.footer{
  text-align: center;
  background-color: lightblue;
}

.home{
  text-align: center;
}

